html{
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100%;
  min-height: 100vh;
}

/* add hidden to opbtionback! */

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn{
 @apply flex justify-center items-center cursor-pointer bg-white 
}

.ingredientGrid{
  @apply p-3 grid gap-1 text-center text-xs
  grid-cols-3 grid-rows-1
  xs:text-base
  sm:text-lg
  md:grid-cols-4 md:grid-rows-6 md:w-3/5 md:text-sm
  lg:text-base
  xl:w-2/4 xl:text-lg
  2xl:text-xl
}

.ingredientBtn{
  @apply w-24 px-3 py-2 rounded-full text-xl flex justify-center items-center text-white
}

.ingredientGridItem{
  @apply bg-blue-50 rounded p-5 cursor-pointer
  flex justify-center items-center 
  transform md:hover:scale-95
  h-20
  xs:h-24
  sm:h-28
  md:h-24
  lg:h-28
  2xl:h-32
}

.alcoholAltColors{
  @apply bg-red-400
}

.mixerAltColors{
  @apply bg-green-400
}

.extraAltColors{
  @apply bg-blue-400
}

.optionsContainer{
  @apply absolute top-0 left-full z-0 
  ease-in duration-500 transform translate-x-0
  flex-col bg-white
}

.OptionBack{
  @apply absolute top-1 left-4 h-16 w-16
  flex justify-center items-center rounded-full 
  bg-gray-100  md:hidden z-10
}

.reveal{
  @apply block
}

.slideInLeft{
  @apply flex transition ease-in duration-500 transform -translate-x-full
}


